.btn-primary-light{
    background: linear-gradient(160deg, #3275e5 0%, #3c80f0 50% , #3275e5 100%);
    color: #fff;
    border: none;
    border-radius: 10%;
    padding: 5% 10%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-primary-light:hover{
    background: linear-gradient(160deg, #3070e0 0%, #3275e5 50% , #3070e0 100%);
    color: #ddd;
}
.btn-primary-dark{
    /* background: linear-gradient(160deg, #8899aa 0%, #889fc0 50% , #8899aa 100%); */
    color: #fff;
    border: none;
    border-radius: 10%;
    padding: 5% 10%;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* .btn-primary-dark {
    background: linear-gradient(160deg, #5568aa 0%, #6b5fb0 50%, #5568aa 100%);
} */

.btn-primary-dark {
    background: linear-gradient(160deg, #5589aa 0%, #5595b0 50%, #5589aa 100%);
}

/* 
.btn-primary-dark {
    background: linear-gradient(160deg, #8899aa 0%, #7a6ab7 50%, #8899aa 100%);
} */