.download{
  background-color: #4299e1;
  transition: 0.3s;
  border-radius: 0.3rem;
  color: white;
  padding: 0.4rem 0.8rem;
  font-weight: 600;
  font-size: 14px;
}

.download:hover {
  background-color: #2b6cb0;
  scale: 1.05;
}

.skill{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: hidden;
  display: inline-block;
  font-size: 12px;
  padding: 0.35rem 0.7rem;
  margin: 0.3rem;
  border-radius: 0.25rem;
}
.card-dark .skill{

    background: linear-gradient(160deg, #64748B 0%, #64748B 50% , #64748B 100%);
    color: white;
}
.card-light .skill{
    
    background: linear-gradient(160deg, #3275e5 0%, #3c80f0 50% , #3275e5 100%);
    /* background-color: #3b82ec; */
    /* background-color: rgb(59, 130, 236); */
    color: white;
  
}

.card-dark .animate-glow {
    animation: glow-dark 2s infinite;
}
.card-light .animate-glow {
    animation: glow-light 2s infinite;
}


  @keyframes glow-dark {
    0% {
      box-shadow: 0 0 6px rgba(0, 255, 255, 0.5),
                  0 0 12px rgba(0, 200, 200, 0.5),
                  0 0 18px rgba(0, 150, 150, 0.5);
    }
    50% {
      box-shadow: 0 0 10px rgba(0, 255, 255, 0.8),
                  0 0 20px rgba(0, 200, 200, 0.8),
                  0 0 30px rgba(0, 150, 150, 0.8);
    }
    100% {
      box-shadow: 0 0 6px rgba(0, 255, 255, 0.5),
                  0 0 12px rgba(0, 200, 200, 0.5),
                  0 0 18px rgba(0, 150, 150, 0.5);
    }
  }
  @keyframes glow-light {
    0% {
      box-shadow: 0 0 6px rgba(85, 175, 255, 0.5),
                  0 0 12px rgba(85, 175, 255, 0.5),
                  0 0 18px rgba(85, 175, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 10px rgba(85, 175, 255, 0.8),
                  0 0 20px rgba(85, 175, 255, 0.8),
                  0 0 30px rgba(85, 175, 255, 0.8);
    }
    100% {
      box-shadow: 0 0 6px rgba(85, 175, 255, 0.5),
                  0 0 12px rgba(85, 175, 255, 0.5),
                  0 0 18px rgba(85, 175, 255, 0.5);
    }
  }


.width-shrink{
  animation: width-shrink 1.5s;
}
@keyframes width-shrink {
    0%{
      opacity: 0.0;
      width:110%;
    }
    100%{
      opacity: 1;
      width:100%;
    }
}

@media (min-width:640px) {
  .skill{
    font-size: 16px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
  }
  .download{
    font-size: 16px;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
  }
}
@media (min-width:768px) {
  .download{
    font-size: 24px;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
  }
}
@media (min-width:1920px) {
  .skill{
    font-size: 20px;
    padding: 0.65rem 1.3rem;
    margin: 0.65rem;
    border-radius: 0.65rem;
  }
  .download{
    font-size: 30px;
    padding: 0.7rem 1.4rem;
    border-radius: 0.6rem;
  }
}
@media (min-width:2400px) {
  .skill{
    font-size: 24px;
    padding: 0.75rem 1.5rem;
    margin: 0.75rem;
    border-radius: 0.75rem;
  }
}