.social-container{
    background: linear-gradient(140deg , #f2f2f2 0%, #e9e9e9 50%, #f2f2f2 100%);
    transition: all 0.7s ease;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 7%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
}

.social-container:hover{
    background-color: linear-gradient(140deg , #ffffff 0%, #f2f2f2 50%, #ffffff 100%); 
}

.social-box{
    position:absolute;
    left:0;
    top:100%;
    transform: translateY(-100%);
    aspect-ratio: 1/1;
    border-top-right-radius: 50%;
}

.linkedin-box{
    background: linear-gradient(175deg, #374967 0%, #5670c0 50%, #374967 100%);
    width: 0%;
    opacity: 0.0;
    z-index: 10;
    transition: all 0.9s ease;
}
.git-box{
    background: linear-gradient(145deg, #222d45 0%, #334085 50%, #222d45 100%);
    width: 0%;
    opacity: 0.0;
    z-index: 11;
    transition: all 1.0s ease;
}
.insta-box{
    background: linear-gradient(125deg, #13182a 0%, #263970 50%, #13182a 100%);
    width: 0px;
    opacity: 0.0;
    z-index: 12;
    transition: all 1.1s ease;
}

.social-container:hover .linkedin-box{
    width: 80%;
    opacity: 0.9;
}
.social-container:hover .git-box{
    width: 60%;
    opacity: 0.7;
}
.social-container:hover .insta-box{
    width: 40%;
    opacity: 0.5;
}
