.base-img{
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}

@keyframes slide-out-img {
    0% {
        transform: translateX(-50%);
        opacity: 1;
    }
    98% {
        transform: translateX(-160%);
        opacity: 0.2;
    }
    100% {
        transform: translateX(-160%);
        opacity: 0.2;
    }
}
@keyframes slide-in-img {
    0% {
        transform: translateX(110%);
        opacity: 0.2;
    }
    2% {
        transform: translateX(110%);
        opacity: 0.2;
    }
    100% {
        transform: translateX(-50%);
        opacity: 1;
    }
}

.slide-out-img{
    animation: slide-out-img 0.9s ease-in-out;
}
.slide-in-img{
    animation: slide-in-img 0.9s ease-in-out;
}

@keyframes flip-out-img {
    0% {
      transform: translateX(-50%) rotateY(0deg);
      opacity: 1;
    }
    98% {
      transform: translateX(-50%) rotateY(90deg);
      opacity: 0;
    }
    100% {
      transform: translateX(-50%) rotateY(90deg);
      opacity: 0;
    }
}
  
@keyframes flip-in-img {
    0% {
      transform: translateX(-50%) rotateY(90deg);
      opacity: 0;
    }
    2% {
      transform: translateX(-50%) rotateY(90deg) ;
      opacity: 0;
    }
    100% {
      transform: translateX(-50%) rotateY(0deg);
      opacity: 1;
    }
  }
  
  .flip-out-img{
    animation: flip-out-img 1s ease-in-out;
  }
  
  .flip-in-img{
    animation: flip-in-img 1s ease-in-out;
  }
