
.fade-in{
  animation: fade-in 1.2s ease-in-out;
}
.fade-in-top{
  animation: fade-in-top 0.8s ease-in-out;
}
.fade-in-bottom{
  animation: fade-in-bottom 0.8s ease-in-out;
}
.fade-in-right{
  animation: fade-in-right 0.8s ease-in-out;

}

.scale-in{
   animation: scale-in 1.2s ease-in-out;
   /* transform-origin: center; */
}


.slam{
    animation: slam 0.1s ease-in-out;
   
}


@keyframes slam {
  0% {
    transform: scale(2.5) translateY(10%) translateX(-60%) rotate(360deg);
  }
  50%{
    transform: scale(1.75) translateY(5%) translateX(-55%) rotate(0deg);
  }
  100% {
    transform: scale(1) translateY(0) translateX(-50%) rotate(-360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0.5;
    transform:  translateX(-70%);
  }
  
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

@keyframes fade-in-top {
  0% {
    opacity: 0.5;
    transform: translateY(-20%) translateX(-50%);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes fade-in-bottom {
  0% {
    opacity: 0.5;
    transform: translateY(20%) translateX(-50%);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0.5;
    transform: translateX(20%) translateX(-50%);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0) translateX(-50%);
  }
}


@keyframes scale-in {
  0% {
    transform: translateX(-50%) scale(0.2); 
    opacity: 0.7;
  }
  90%{
    transform: translateX(-50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}



.animate-glow {
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5),
                0 0 20px rgba(0, 200, 200, 0.5),
                0 0 30px rgba(0, 150, 150, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 1),
                0 0 40px rgba(0, 200, 200, 1),
                0 0 60px rgba(0, 150, 150, 1);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5),
                0 0 20px rgba(0, 200, 200, 0.5),
                0 0 30px rgba(0, 150, 150, 0.5);
  }
}