@keyframes yes-to-no {
    0% {
        left: 0;
        transform : translate(0);
        width: 60%;
        background-color: green;
    }
    15% {
        left: 10%;
        transform : translate(-10%);
        width: 65%;
        background-color: green;
        color: black;
    }

    85%{
        left: 90%;
        transform: translateX(-90%);
        width: 65%;
        background-color: red;
        color: white;
    }

    100% {
        left: 100%;
        transform: translateX(-100%);
        width: 60%;
        background-color: red;
        color: white;
    }
}

@keyframes no-to-yes {
    0% {
        left: 100%;
        transform: translateX(-100%);
        width: 60%;
        background-color: red;
    }

    15%{
        left: 90%;
        transform: translateX(-90%);
        width: 65%;
        background-color: red;
        color: white;
    }

    85% {
        left: 10%;
        transform : translate(-10%);
        width: 65%;
        background-color: green;
        color: black;
    }

    100% {
        left: 0;
        transform : translate(0);
        width: 60%;
        background-color: green;
        color: black;
    }
}

.animate-yes-to-no {
    animation: yes-to-no 0.5s ease-in-out;
}

.animate-no-to-yes {
    animation: no-to-yes 0.5s ease-in-out;
}